  .dropdown-input {
    width: 40%;
    user-select: none;
    margin: 10% auto;
    position: relative;
    text-align: left;
    /* background-color: lightgray; */
  }
  .dropdown-input .dropdown-btn {
    padding: 15px 20px;
    /* background: #fff; */
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
  }
  
  .dropdown-input .dropdown-items {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: 95%;
  }
  .dropdown-input .dropdown-items .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .dropdown-input .dropdown-items .dropdown-item:hover {
    background: #f4f4f4;
  }
  
  #error-message {

    background-color: #fff;
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
  }

